<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-3 profile-wrapper">
      <img class="profile-picture" src="images/profile.png"/>
    </div>
    <div class="col-md-7">
      <div class="jumbotron custom-jumbotron">
        <h1>John Harrison</h1>
        <h3>Software Engineer</h3>
        <h3>Graduating from Auburn University Fall 2017</h3>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="bruh">
        I'm currenty enrolled as a Software Engineer at Auburn University.
        This is my last year enrolled because I will be graduating after the
        fall semester.
      </p>
      <p class="bruh">
        My inspiration for programming came from a game called Minecraft.
        In high school, I would develop mods for the game and share them on
        the Minecraft forums.
      </p>
      <p class="bruh">
        Today I currently work for Equifax, a well known credit bureau.
        I work on their realease management team which aims at streamlining
        releases of applications internally. We use many automation technologies
        including Rundeck, Jenkins, and Chef.
      </p>
      <p class="bruh">
        After college, I plan on going straight into the industry. I would love
        the opportunity to work for a large company first, such as Facebook or Google,
        and later on work for a smaller, startup company.
      </p>
    </div>
  </div>
</div>