<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Projects
            <font color="#777777">
              <span style="font-size: 23.4px; line-height: 23.4px;">Here are a selection of projects I have worked on recently.</span>
            </font>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="project-heading">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Minecraft Plugins
          <font color="#777777">
            <span style="font-size: 23.4px; line-height: 23.4px;">For my server or public release.</span>
          </font>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-3" id="pad-boxes">
        <img src="images\BountyRewards_Figure1.PNG" class="img-responsive img-rounded" draggable="true">
        <h2>BountyRewards</h2>
        <p>Placing bounties has never been easier! You can place, increase, and remove
          bounties all with a few easy commands.&nbsp;
          <br>
        </p>
        <div class="row">
          <div class="col-md-12">
          <a class="btn btn-warning" href="https://github.com/Mac-Genius/BountyRewards" id="learn-more">Learn more</a>
          <a class="btn btn-primary pull-right" href="http://dev.bukkit.org/bukkit-plugins/bountyrewards/" id="bukkit">Bukkit</a>
        </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          <a class="btn btn-success" href="http://mcstats.org/plugin/BountyRewards" id="mcstats">MCStats</a>
          <a class="btn btn-warning pull-right" href="https://www.spigotmc.org/resources/bountyrewards.17589/" id="spigot">Spigot</a>
        </div>
        </div>
      </div>
      <div class="col-md-3" id="pad-boxes">
        <img src="images\SQLPermissions_Figure.PNG" class="img-responsive img-rounded">
        <h2>SQLPermissions</h2>
        <p>A simple permissions plugin that uses only a MySQL backend.
          <br>
          <br>
        </p>
        <a class="btn btn-warning" href="https://github.com/Mac-Genius/SQLPermissions">Learn more<br></a>
      </div>
      <div class="col-md-3" id="pad-boxes">
        <img src="images\Cosmetics.PNG" class="img-responsive img-rounded">
        <h2>Cosmetics</h2>
        <p>A simple shop plugin that has a nifty gui included.
          <br>
          <br>
        </p>
        <a class="btn btn-warning" href="https://github.com/Mac-Genius/Cosmetics">Learn more</a>
      </div>
      <div class="col-md-3" id="pad-boxes">
        <img src="images\LobbyManager.PNG" class="img-responsive img-rounded">
        <h2>LobbyManager</h2>
        <p>A lobby manager that lets players customize the lobby and connect to other
          servers.</p>
        <a class="btn btn-warning" href="https://github.com/Mac-Genius/LobbyManager">Learn more<br></a>
      </div>
    </div>
  </div>
</div>
<div class="section" id="project-heading">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Other Projects
          <font color="#777777">
            <span style="font-size: 23.4px; line-height: 23.4px;">Java, WebDev, and more!</span>
          </font>
          <br>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-3" id="pad-boxes">
        <img src="images\DrawMyThing.PNG" class="img-responsive img-rounded">
        <h2>DrawMyThing</h2>
        <p>A word guessing program inspired by Mineplex's DrawMyThing.
          <br>&nbsp;</p>
        <a class="btn btn-warning">Learn more<br></a>
      </div>
      <div class="col-md-3" id="pad-boxes">
        <img src="images\auacm_site.png" class="img-responsive img-rounded">
        <h2>Auacm Website</h2>
        <p>A website build from scratch for Auburn's chapter of ACM. Test your programming skills
          by solving problems with code!
        </p>
        <a class="btn btn-warning" href="https://github.com/AuburnACM/auacm">Learn more</a>
        <a class="btn btn-primary pull-right" href="https://auacm.com">Website</a>
      </div>
    </div>
  </div>
</div>