<div class="section" id="about-me-header">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-10 col-md-2">
                <a class="btn btn-danger" id="resume" href="mailto:jwh0051@auburn.edu">Download a Copy</a>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 custom-section">
                <h1 id="education-header" class="col- text-left">Education</h1>
                <hr>
                <p class="lead">Auburn University (August 2014 - December 2017)</p>
                <p class="lead">Pursuing a Bachelor of Engineering in Software Engineering</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 custom-section">
                <h1 id="education-header" class="col- text-left">Work Experience</h1>
                <hr>
                <ol class="lead">
                  <li>
                    <h3>Equifax: May 2016 - Present</h3>
                    <h4>Auburn, AL</h4>
                    <ul>
                      <li>Creating new APIs to add easier access and control of servers for customers.</li>
                      <li>Working in small teams and using Git for version control.</li>
                      <li>Using the SCRUM workflow with two week sprints.</li>
                      <li>Using tools such as Chef for server automation and maintainence.</li>
                      <li>Creating custom Rundeck plugins to add functionality to the automated jobs.</li>
                      <li>Using Angular 2 to create internal web apps.</li>
                    </ul>
                  </li>
                  <li>
                    <h3>Sweetwater Valley Farm: May 2009 - August 2015</h3>
                    <h4>Philadelphia, TN</h4>
                    <ul>
                      <li>Maintained and serviced the computer network infrastructure.</li>
                    </ul>
                  </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 custom-section">
                <h1>Languages and Technologies</h1>
                <hr>
                <p class="lead"><b>Languages:</b> Java, C++, Python, JSON, Ruby, Go</p>
                <p class="lead"><b>Technology:</b> MongoDB, MySQL, Chef, Rundeck, Angular 2, AWS, DigitalOcean, SpringBoot, Apache Tomcat</p>
                <p class="lead"><b>Integrated Development Enviroments:</b> IntelliJ IDEA</p>
                <p class="lead"><b>Version Control Systems:</b> Git, VCS</p>
            </div>
        </div>
    </div>
</div>